@model IEnumerable<Covid19_DataEntities.CountryInformation>

@{
    ViewBag.Title = "Index";
}

    <h2 style="padding-top: 0.5rem; padding-bottom: 0.5rem">Country Information</h2>


<table  id="demoGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodayCases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodayDeaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Critical)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TotalTests)
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodayCases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodayDeaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recovered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Critical)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTests)
                </td>
              

            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
      $(document).ready( function () {
    $('#demoGrid').DataTable();
} ); 
    </script>

}
